.map {
    margin-top: 20px;
    margin-left: 5%;
    width: 90%;
    height: 455px;
    cursor: grab;
  }

  .btn{
      margin-top: 25px;
      margin-left: 5%;
      width: 175px;
      height: 50px;
      font-size: 20px;
      font-weight: 700;
      font-style: italic;
      cursor: pointer;
  }
  .trigger{
    cursor: pointer;
  }