<!-- <div class="jumbotron py-3">
    <h1 class="display-4 text-center">Mapbox</h1>
</div> -->

<div class="card">
    <div class="card-body">
        <div class="form-row">
            <div class="row offset-md-1 col-md-4">
                <label class="mt-4">Name:</label>
                <ng-select [items]="loadNames()" 
                        bindLabel="name"
                        bindValue="name"
                        class="col-md-10"
                        [(ngModel)]="inputName">
                </ng-select>
            </div>
            <div class="row col-md-3 mt-3">
                
                <input type="text"
                    ngxDaterangepickerMd
                    [timePicker]="true"
                    [timePickerSeconds]="true"
                    [timePickerIncrement]="1"
                    [timePicker24Hour]="false"
                    [(ngModel)]="selectedDates"
                    placeholder="Date Time"
                    class="form-control"/>
                    
            </div>
           
            <div class="offset-md-1 col-md-1">
                <input class="btn btn-primary mt-2" (click)="filterMapData()"  type="button" value="Search"/>
            </div>
        </div>
    </div>
  </div>

<div class="map" id="map"></div>
<div>
    <button hidden (click)="onClickRemove()" class="btn"> Hide Line</button>
</div>